<html>
    <head>
        <tittle>
        New Articles
        </tittle>
    </head>
    <body>
        <h1>
            Create Articles
        </h1>
        <div>Title:
        <input type="text" id ="title"/>
        </div><br>
        <div>content
        <textarea id="content" ></textarea>
        </div> <br>
        <button id="submit">Submit</button>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
            var article={title :"" , content : ""};
            $("#title").change(function()
            {
                article.title= $("#title").val();
            
            });
            
             $("#content").change(function()
            {
                article.content= $("#content").val();
            
            });
            $("#submit").click(function(){
                $.ajax({
                    method: "POST",
                    url: "/api/articles",
                    data: article  
                    
                }).done(function(response){
                    console.log(response);
                });
                
            });
            
        </script>
        </body>
    
</html>