<html>
    <head>
        <tittle>
        View Articles
        </tittle>
    </head>
    <body>
        <h1>
            View Articles
        </h1>
         <% console.log(request.article)%>
         <h2>Title: <%= request.article.title %></h2>
         <p> <%= request.article.content %></p>
    </body>
    
</html>