<html>
    <head>
        <tittle>All Products</tittle>
    </head>
    <body>
        <h1>All Products</h1>
        <% console.log(products) %>
  <% for(var i=0; i<products.length; i++) { %>
    <h1> <%= products[i]._id %> </h1>
    <h1> <a href="/products/<%=products[i]._id %>"> <%= products[i].name %> </a> </h1>
   
    <% } %>

    </body>
    
</html>