<html>
    <head>
        <tittle>
        New Products
        </tittle>
    </head>
    <body>
        <h1>
            Create Products
        </h1>
        <div>Name:
        <input type="name" id ="name"/>
        </div><br>
        <div>Description:
        <textarea id="description" ></textarea>
        </div> <br>
        <div>Price:
        <input type="number" id ="price"/>
        </div><br>
        <div>Quentity:
        <input type="number" id ="quantity"/>
        </div><br>
        <div id="error"></div>
        <button id="submit">Submit</button>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
            var product={name :"" , description : "", price:null ,quantity:null};
            $("#name").change(function()
            {
               
                product.name= $("#name").val();
            
            });
            
             $("#description").change(function()
            {
                product.description= $("#description").val();
            
            });
            
             $("#price").change(function()
            {
                 product.price=undefined;
                product.price= $("#price").val();
            
            });
            
            
             $("#quantity").change(function()
            {
                product.quantity= $("#quantity").val();
            
            });
            
            $("#submit").click(function(){
                $.ajax({
                    method: "POST",
                    url: "/api/products",
                    data: product  
                    
                }).done(function(response){
                    console.log(response);
                     window.location.replace("/products/"+response._id); 
                }).fail(function(response){
                    $("#error").text(JSON.parse(response.responseText).message);
                   console.log(response); 
                });
                
            });
            
        </script>
        </body>
    
</html>