<html>
    <head>
        <tittle>
        View Products
        </tittle>
    </head>
    <body>
        <h1>
            View Products
        </h1>
         <% console.log(request.Product)%>
         <h2>Title: <%= request.Product.title %></h2>
         <p> <%= request.Product.content %></p>
    </body>
    
</html>